@import "tailwindcss";

@theme {
  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-400: #4ade80;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-900: #14532d;
}

body {
  background-color: #030712; /* gray-950 */
  color: #f9fafb; /* gray-50 */
}
